{% extends 'base.html.twig' %}

{% block body %}
<h4> A propo de vous </h4>
<div class="jumbotron">
    {{utilisateur.nom}}
    {{ utilisateur.prenom}}<br/>
    {{ utilisateur.telephone}}<br/>
    {{ utilisateur.dateDeNaissance | date('d/m/Y')}}
</div>
 
<div class="jumbotron">
  {{voitures.marque}}<br/>
  {{ voitures.couleur}}<br/>
  {{ voitures.model}}<br/>
  {{ voitures.immatriculation}}
</div>

<div>
  <a class="nav-link" href="{{path('roadshare_setinformation', {'id':voitures.id, 'id':criteres.id} )}}"> Modifier ses informations </a>
</div>


{% endblock %}

