{% extends 'base.html.twig' %}

{% block body %}

<div class="jumbotron">
<h4> A propo de vous </h4>
    {{utilisateur.nom}}
    {{ utilisateur.prenom}}<br/>
    {{ utilisateur.telephone}}<br/>
    {{ utilisateur.dateDeNaissance | date('d/m/Y')}}
</div>

<div class="jumbotron">
<h4> description </h4>
  {{description.miniBio}}<br/>
  {{ description.voyagerAvecMusique}}<br/>
  {{ description.voyagerAvecAnimaux}}<br/>
  {{ description.centreInterets}}
</div>

{% if voiture%}
<div class="jumbotron">
<h4> voiture </h4>
{{ voiture.marque}}<br/>
{{ voiture.couleur}}<br/>
{{ voiture.model}}<br/>
{{ voiture.immatriculation}}<br/>
</div>
{% else %}
<a class="nav-link" href="{{path('roadshare_setinformation')}}"> Ajouter un voiture a votre compte</a>
{% endif %}


{% if informationTravail %}
<div class="jumbotron">
<h4> info Entreprise </h4>
{{ informationTravail.heureDepart}}<br/>
{{ informationTravail.heureArrivee}}<br/>
</div>
{% else %}
<a class="nav-link" href="{{path('roadshare_setinformation')}}"> Ajouter des infartion par rapport a votre travail </a>
{% endif %}




  
<div>
  <a class="nav-link" href="{{path('roadshare_setinformation')}}"> Modifier ses informations </a>
</div>






{% endblock %}

