{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="jumbotron">
{% if modification %}
  <h6 class="display-4">Modification de trajet</h6>
{% else %}
  <h6 class="display-4">Proposition de trajet</h6>
{% endif %}
{{form_start(form)}}
 <fieldset>
{{ form_row(form.trajet.date, {'label':'Date du trajet : '})}}
{{ form_row(form.trajet.heureDepart, {'label':'Heure de départ :', 'attr' : {
        'placeholder': 'Entrée le nombre de places'
      }})}}
{{ form_row(form.trajet.heureArrivee, {'label':'Heure d\'arrivée :', 'attr' : {
        'placeholder': 'Entrée le nombre de places'
      }})}}

<div class="card bg-secondary mb-3" >
  <div class="card-body">
    <h4 class="card-title">Adresse départ</h4>
      {{form_row(form.adresseDepart.rue, {'label':'Rue:', 'attr' : {
              'placeholder': 'Entrée l\'adresse de la rue'
            }})}}
        
      {{form_row(form.adresseDepart.ville, {'label':'Ville :','attr' : {
              'placeholder': 'Entrée la ville'
            }})}}
          
      {{form_row(form.adresseDepart.codePostale, {'label':'Code postale :', 'attr' : {
              'placeholder': 'Entrée le code postale'
            }})}}

  </div>
</div>
<div class="card bg-secondary mb-3">
  <div class="card-body">
    <h4 class="card-title">Adresse de destination</h4>
      {{form_row(form.adresseArrivee.rue, {'label':'Rue:', 'attr' : {
        'placeholder': 'Entrée l\'adresse de la rue'
      }})}}
      {{form_row(form.adresseArrivee.ville, {'label':'Ville :','attr' : {
        'placeholder': 'Entrée la ville'
       }})}}
      {{form_row(form.adresseArrivee.codePostale, {'label':'Code postale :', 'attr' : {
        'placeholder': 'Entrée le code postale'
      }})}} 
  </div>
</div>

  {{ form_row(form.trajet.nbPlaces, {'label':'Nombre de places disponibles :', 'attr' : {
        'placeholder': 'Entrée le nombre de places'
      }})}}
  {{ form_row(form.trajet.prix, {'label':'Prix (€) : ', 'attr' : {
        'placeholder': 'Entrée le prix du trajet'
      }})}}
 </fieldset>
 {% if modification %}
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Enregistrer vos modifications</button>
  </div>
 {% else %}
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Valider</button>
  </div>

 {% endif %}
{{form_end(form)}}
</div>

{% endblock %}
