{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron">

    <form method="post" action="{{path('roadshare_recherche')}}" >
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Départ : </h5>
          <div class="form-inline">
            <datalist id="listNumeorRue">
              {% if adresseDomicile.numeroRue != null %}
                <option value="{{adresseDomicile.numeroRue}}">
              {% endif %}
              {% if adresseEntreprise != null  and adresseEntreprise.numeroRue != null %}
                <option value="{{adresseEntreprise.numeroRue}}">
              {% endif %}
            </datalist>
            <datalist id="listRue">
                <option value="{{adresseDomicile.rue}}">
              {% if adresseEntreprise != null %}
                <option value="{{adresseEntreprise.rue}}">
              {% endif %}
            </datalist>
            <datalist id="listVille">
                <option value="{{adresseDomicile.ville}}">
              {% if adresseEntreprise != null %}
                <option value="{{adresseEntreprise.ville}}">
              {% endif %}
            </datalist>
            {% if recherche %}
              <input list="listNumeroRue" class="form-control mr-sm-2" name="numeroRueDepart" value="{{infosEntrees[0].numeroRue}}" type="Number" placeholder="N° (facultatif)">
              <input list="listRue" class="form-control mr-sm-2" name="rueDepart" value="{{infosEntrees[0].rue}}" type="text" placeholder="Rue" required>
              <input list="listVille" class="form-control mr-sm-2" name="villeDepart" value="{{infosEntrees[0].ville}}" type="text" placeholder="Ville" required>
            {% else %}
              <input list="listNumeroRue" class="form-control mr-sm-2" name="numeroRueDepart" type="Number" placeholder="N° (facultatif)">
              <input list="listRue" class="form-control mr-sm-2" name="rueDepart" type="text" placeholder="Rue" required>
              <input list="listVille" class="form-control mr-sm-2" name="villeDepart" type="text" placeholder="Ville" required>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Arrivée : </h5>
          <div class="form-inline">
            {% if recherche %}
              <input list="listNumeroRue" class="form-control mr-sm-2" name="numeroRueArrivee" value="{{infosEntrees[1].numeroRue}}" type="Number" placeholder="N° (facultatif)">
              <input list="listRue" class="form-control mr-sm-2" name="rueArrivee" value="{{infosEntrees[1].rue}}" type="text" placeholder="Rue" required>
              <input list="listVille" class="form-control mr-sm-2" name="villeArrivee" value="{{infosEntrees[1].ville}}" type="text" placeholder="Ville" required>
            {% else %}
              <input list="listNumeroRue" class="form-control mr-sm-2" name="numeroRueArrivee" type="Number" placeholder="N° (facultatif)">
              <input list="listRue" class="form-control mr-sm-2" name="rueArrivee" type="text" placeholder="Rue" required>
              <input list="listVille" class="form-control mr-sm-2" name="villeArrivee" type="text" placeholder="Ville" required>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Date & Heure de depart : </h5>
          <div class="form-inline">
            {% if recherche %}
              <input class="form-control mr-sm-6" min ="datetime-local" max ="2022-01-01" name="dateDepart" value="{{infosEntrees[2]}}" type="date" placeholder="Date" required>
              <input class="form-control mr-sm-6" name="heureDepart" value="{{infosEntrees[3]}}" type="time" placeholder="Heure" required>
            {% else %}
              <input class="form-control mr-sm-6" min ="2000-01-01" max ="2022-01-01" name="dateDepart" type="date" placeholder="Date" required>
              <input class="form-control mr-sm-6" name="heureDepart" type="time" placeholder="Heure" required>
            {% endif %} 
          </div>
        </div>
      </div>
      <div class="card bg-secondary mb-3" >
        <div class="card-body">
          <h5 class="card-title">Critéres : </h5>
          <div class="form">
            {% if recherche %}
                <div class="form-group">
                  <div class="custom-control custom-checkbox mb-3">
                    {% if infosEntrees[4][0] %}
                      <input type="checkbox" name="fumeur" class="custom-control-input" id="fumeur" checked>
                    {% else %}
                      <input type="checkbox" name="fumeur" class="custom-control-input" id="fumeur">
                    {% endif %}                    
                    <label class="custom-control-label" for="fumeur">vous voulais fumer lors du trajet</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    {% if infosEntrees[4][1] %}
                      <input type="checkbox" name="animaux" class="custom-control-input" id="animaux" checked>
                    {% else %}
                      <input type="checkbox" name="animaux" class="custom-control-input" id="animaux">
                    {% endif %} 
                    <label class="custom-control-label" for="animaux">vous voulais amener un animale avec vous</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    {% if infosEntrees[4][2] %}
                      <input type="checkbox" name="musique" class="custom-control-input" id="musique" checked>
                    {% else %}
                      <input type="checkbox" name="musique" class="custom-control-input" id="musique">
                    {% endif %}
                    <label class="custom-control-label" for="musique">vous ne voulais pas de musique lors du trajet</label>
                  </div>
                </div>
            {% else %}
                <div class="form-group">
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="fumeur" class="custom-control-input" id="fumeur">
                    <label class="custom-control-label" for="fumeur">vous voulais fumer lors du trajet</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="animaux" class="custom-control-input" id="animaux">
                    <label class="custom-control-label" for="animaux">vous voulais amener un animale avec vous</label>
                  </div>
                  <div class="custom-control custom-checkbox mb-3">
                    <input type="checkbox" name="musique" class="custom-control-input" id="musique">
                    <label class="custom-control-label" for="musique">vous ne voulais pas de musique lors du trajet</label>
                  </div>
                </div>
            {% endif %}
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-lg btn-block">Lancer la recherche</button>
    </form>

</div>

{% if recherche %}
  {% if trajets|length >0 %}
    Nous avons trouver {{trajets|length}} trajets
    <div class="list-group">
    {% for index in trajets %}
      {% for niv,trajet in index %}

        <a href="{{path('roadshare_trajet',{'id':trajet.id})}}" class="list-group-item list-group-item-action flex-column align-items-start">
          {% if niv == 3 %}
            <span class="badge badge-pill badge-success">+</span>
            <span class="badge badge-pill badge-success">+</span>
            <span class="badge badge-pill badge-success">+</span>
          {% elseif niv == 2 %}
            <span class="badge badge-pill badge-primary">+</span>
            <span class="badge badge-pill badge-primary">+</span>
          {% else %}
            <span class="badge badge-pill badge-warning">+</span>
          {% endif %}
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{trajet.heureDepart|date("H:i")}} - {{trajet.heureArrivee|date("H:i")}}</h5>
            <h5 class="text-muted">{{trajet.prix}}€</h5>
            
          </div>
          <p class="mb-1">{{trajet.adresseDepart.ville}} --> {{trajet.adresseArrivee.ville}}</p>
          <small class="text-muted">Proposer par : {{trajet.conducteur.prenom}}</small>
        </a>
      {% endfor %}
    {% endfor %}

  </div>
{# 
    <div>
      <ul class="pagination pagination-lg">
        <li class="page-item disabled">
          <a class="page-link" href="#">&laquo;</a>
        </li>
        <li class="page-item active">
          <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">&raquo;</a>
        </li>
      </ul>
    </div> #}
  {% else %}
    <div class="alert alert-dismissible alert-warning">
      <h4 class="alert-heading">Nous avons rien trouvée</h4>
      <p class="mb-0">Nous somme désoler, aucun trajet correspond à vos critéres de recherche</a>.</p>
    </div>
  {% endif %}
{% endif %}
<br>
<br>
<br>
<br>
{% endblock %}