{% extends 'base.html.twig' %}

{% block body %}
<br>
<div class="card border-primary mb-3" >
  <div class="card-header"><h2>Vos trajets</h2></div>
  <div class="card-body">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#enCours">Vos trajets en cours</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#historique">Historiques</a>
        </li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show" id="enCours">
    
            
            {% if trajetsEnCours|length >0 %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Trajets proposés en cours</h4></div>
                    <div class="card-body">
                        {% for trajet in trajetsEnCours  %}
                            <div class="alert alert-primary">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{trajet.heureDepart|date("H:i")}} - {{trajet.heureArrivee|date("H:i")}}</h5>
                                    <h5 class="text-muted">{{trajet.date|date("d/m/Y")}}</h5>
                                </div>
                                <p class="mb-1">{{trajet.adresseDepart.ville}} --> {{trajet.adresseArrivee.ville}}</p>  
                                Proposé par <strong>{{trajet.conducteur.nom}} {{trajet.conducteur.prenom}}</strong>
                                <div class="modal-footer">
                                    <button type="button" onclick="window.location.href='{{path('roadshare_trajet_effectue',{'id':trajet.id})}}';" class="btn btn-success">Trajet effectué</button>
                                    <button type="button" onclick="window.location.href='{{path('roadshare_trajet',{'id':trajet.id})}}';" class="btn btn-info">Consulter</button>
                                    <button type="button" onclick="window.location.href='{{path('roadshare_annulation_trajet',{'id':trajet.id})}}';" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if reservationsAcceptee|length >0 %}
                {% set afficher = false %}
                {% for res in reservationsAcceptee  %}
                    {% if res.trajet.etat == 'EN_COURS' or res.trajet.etat == 'COMPLET' %}
                        {% set afficher = true %}
                    {% endif %}
                {% endfor %}
                {% if afficher %}
                    <div class="card border-secondary mb-3">
                        <div class="card-header"><h4>Demandes de réservations Accepter</h4></div>
                        <div class="card-body">
                            {% for res in reservationsAcceptee  %}
                                {% if res.trajet.etat == 'EN_COURS' or res.trajet.etat == 'COMPLET' %}
                                    <div class="alert alert-info">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">{{res.trajet.heureDepart|date("H:i")}} - {{res.trajet.heureArrivee|date("H:i")}}</h5>
                                            <h5 class="text-muted">{{res.trajet.date|date("d/m/Y")}}</h5>
                                        </div>
                                        <p class="mb-1">{{res.trajet.adresseDepart.ville}} --> {{res.trajet.adresseArrivee.ville}}</p>  
                                        <h5 class="mb-1">{{res.trajet.prix}}€</h5> 
                                        Proposé par <a href="{{path('roadshare_profil_public',{'id':res.trajet.conducteur.id} )}}" class="alert-link"><strong>{{res.trajet.conducteur.nom}} {{res.trajet.conducteur.prenom}}</strong></a> 
                                        <div class="modal-footer">
                                            <button type="button" onclick="window.location.href='{{path('roadshare_trajet',{'id':res.trajet.id})}}';" class="btn btn-info">Consulter</button>
                                            <button type="button" onclick="window.location.href='{{path('roadshare_annulation_reservation',{'id':res.trajet.id})}}';" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endif %}

            {% if reservationsEnAttente|length >0 %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Demandes de réservations en attentes</h4></div>
                    <div class="card-body">
                        {% for res in reservationsEnAttente  %}
                            {% if res.trajet.etat == 'EN_COURS' %}
                                <div class="alert alert-warning">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{res.trajet.heureDepart|date("H:i")}} - {{res.trajet.heureArrivee|date("H:i")}}</h5>
                                        <h5 class="text-muted">{{res.trajet.date|date("d/m/Y")}}</h5>
                                    </div>
                                    <p class="mb-1">{{res.trajet.adresseDepart.ville}} --> {{res.trajet.adresseArrivee.ville}}</p>  
                                    <h5 class="mb-1">{{res.trajet.prix}}€</h5>  
                                    Proposé par <a href="{{path('roadshare_profil_public',{'id':res.trajet.conducteur.id} )}}" class="alert-link"><strong>{{res.trajet.conducteur.nom}} {{res.trajet.conducteur.prenom}}</strong></a> 
                                    <div class="modal-footer">
                                        <button type="button" onclick="window.location.href='{{path('roadshare_trajet',{'id':res.trajet.id})}}';" class="btn btn-info">Consulter</button>
                                        <button type="button" onclick="window.location.href='{{path('roadshare_annulation_reservation',{'id':res.id})}}';" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            

        </div>
        <div class="tab-pane fade" id="historique">
                        
            {% if trajetsEffectuer|length >0 %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Trajets proposés effectués</h4></div>
                    <div class="card-body">
                        {% for trajet in trajetsEffectuer  %}
                            <div class="alert alert-success">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{trajet.heureDepart|date("H:i")}} - {{trajet.heureArrivee|date("H:i")}}</h5>
                                    <h5 class="text-muted">{{trajet.date|date("d/m/Y")}}</h5>
                                </div>
                                <p class="mb-1">{{trajet.adresseDepart.ville}} --> {{trajet.adresseArrivee.ville}}</p>  
                                <div class="modal-footer">
                                        <button type="button" onclick="window.location.href='{{path('roadshare_trajet',{'id':trajet.id})}}';" class="btn btn-info">Consulter</button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if reservationsAcceptee|length >0 %}
                {% set resAccepEffectue = false %}
                {% for res in reservationsAcceptee  %}
                    {% if res.trajet.etat=='EFFECTUE'%}
                        {% set resAccepEffectue = true %}
                    {% endif %}
                {% endfor %}
                {% if resAccepEffectue %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Trajets avec réservation effectués</h4></div>
                    <div class="card-body">
                        {% for res in reservationsAcceptee  %}
                            {% if res.trajet.etat=='EFFECTUE' %}
                                <div class="alert alert-success">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{res.trajet.heureDepart|date("H:i")}} - {{res.trajet.heureArrivee|date("H:i")}}</h5>
                                        <h5 class="text-muted">{{res.trajet.date|date("d/m/Y")}}</h5>
                                    </div>
                                    <p class="mb-1">{{res.trajet.adresseDepart.ville}} --> {{res.trajet.adresseArrivee.ville}}</p>  
                                    Proposé par <a href="{{path('roadshare_profil_public',{'id':res.trajet.conducteur.id} )}}" class="alert-link"><strong>{{res.trajet.conducteur.nom}} {{res.trajet.conducteur.prenom}}</strong></a> 
                                    <div class="modal-footer">
                                        <button type="button" onclick="window.location.href='{{path('roadshare_trajet',{'id':res.trajet.id})}}';" class="btn btn-info">Consulter</button>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% if trajetsAnnuler|length >0 %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Trajets proposés annulés</h4></div>
                    <div class="card-body">
                        {% for trajet in trajetsAnnuler  %}
                            <div class="alert alert-danger">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">{{trajet.heureDepart|date("H:i")}} - {{trajet.heureArrivee|date("H:i")}}</h5>
                                    <h5 class="text-muted">{{trajet.date|date("d/m/Y")}}</h5>
                                </div>
                                <p class="mb-1">{{trajet.adresseDepart.ville}} --> {{trajet.adresseArrivee.ville}}</p>  
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% if reservationsRefuser|length >0 %}
                <div class="card border-secondary mb-3">
                    <div class="card-header"><h4>Réservations de trajets refusées</h4></div>
                    <div class="card-body">
                        {% for res in reservationsRefuser  %}
                                <div class="alert alert-danger">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">{{res.trajet.heureDepart|date("H:i")}} - {{res.trajet.heureArrivee|date("H:i")}}</h5>
                                        <h5 class="text-muted">{{res.trajet.date|date("d/m/Y")}}</h5>
                                    </div>
                                    <p class="mb-1">{{res.trajet.adresseDepart.ville}} --> {{res.trajet.adresseArrivee.ville}}</p>  
                                    Proposé par <a href="{{path('roadshare_profil_public',{'id':res.trajet.conducteur.id} )}}" class="alert-link"><strong>{{res.trajet.conducteur.nom}} {{res.trajet.conducteur.prenom}}</strong></a> 
                                </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}


        </div>
        {# <div class="tab-pane fade" id="dropdown2">
            <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
        </div> #}
    </div>
  </div>
</div>
   

{% endblock %}
